@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .main-grid {
    @apply grid grid-cols-1 md:grid-cols-6 gap-4;
    grid-template-columns: repeat(6, minmax(252px, 1fr));
  }
} */

/* .main-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(252px, 1fr));
  gap: 4rem;
} */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: 'Firs Neue Light';
  src: url('@/assets/fonts/tt_firs_neue/TTFirsNeueTrialLight.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Firs Neue Regular';
  src: url('@/assets/fonts/tt_firs_neue/TTFirsNeueTrialRegular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Firs Neue Medium';
  src: url('@/assets/fonts/tt_firs_neue/TTFirsNeueTrialMedium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Firs Neue Bold';
  src: url('@/assets/fonts/tt_firs_neue/TTFirsNeueTrialBold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  color: #020105;
  font-family: 'Inter', sans-serif;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.comp-title-box {
  @apply flex items-center space-x-[24px] mb-[24px];
}

.see-all-text {
  @apply text-orange text-[20px]  w-auto border-b border-orange mt-[10px] leading-[28px] font-firsNeueRegular;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.nav-item {
  @apply flex items-center space-x-2;
}

.conponent-margin-top {
  @apply mt-[120px];
}

.category-grid-item {
  @apply cursor-pointer flex flex-col items-center justify-center md:col-span-1 bg-[#F9F9F9] p-[24px] space-y-[20px] hover:text-orange rounded-lg;
}

.brand-grid-item {
  @apply flex items-center justify-center border border-[#EEEEEE] rounded-xl cursor-pointer;
}

.top-grid-item {
  @apply flex flex-col space-y-[8px] cursor-pointer;
}

.top-grid-item-info {
  @apply flex flex-col space-y-2 bg-[#F9F9F9] p-[12px];
}

.title {
  @apply font-medium text-[32px] mb-[24px] font-firsNeueMedium;
}

.title-temp {
  @apply font-medium text-[32px] font-firsNeueMedium;
}

.footer-title {
  @apply text-black text-[24px] font-medium mb-[32px] font-firsNeueMedium;
}

.footer-link {
  @apply text-[18px] text-gray;
}

.footer-link-box {
  @apply flex flex-col space-y-[16px];
}

.main-title {
  @apply text-[40px] text-black font-medium mt-[12px] font-firsNeueMedium;
}

.user-data-cont {
  @apply mt-[30px];
}

.product-items-box {
  @apply flex flex-col space-y-[16px];
}

.main-grid {
  @apply grid grid-cols-1  md:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-5;
}

.category-item-grid {
  @apply grid grid-cols-1 md:grid-cols-5 gap-x-[24px] gap-y-[48px];
}

.category-id-grid {
  @apply grid grid-cols-1 md:grid-cols-5 gap-x-[24px] gap-y-[16px];
}

.category-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  2xl:grid-cols-5  gap-4;
}

.category-grid-row {
  @apply grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3  2xl:grid-cols-3  gap-[24px];
}

.blog-grid {
  @apply grid grid-cols-1 md:grid-cols-4 gap-4;
}

.profile-item-box {
  @apply flex items-center space-x-[8px];
}

.profile-box {
  @apply flex space-x-[8px];
}

.category-title {
  @apply font-medium text-[20px] text-black;
}

.category-box {
  @apply flex flex-col space-y-[16px];
}
